*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}

.gameContainer{
    background-image: url(../images/second.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
}

.mario{
    background-image: url(../images/mario.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 170px;
    position: absolute;
    bottom: 46px;
    left: 400px;
}

.enemy{
    background-image: url(../images/enemy.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 120px;
    position: absolute;
    bottom: 46px;
    left: 1150px;
}

.animateMario{
    animation: marioAni 0.7s linear;
}

.animateMarioDie{
    animation: marioDieAni 3s linear;
}

.animateEnemy{
    animation: enemyAni 4.2s linear infinite;
}

.gameOver{
    color: white;
    font-family: fantasy;
    position: absolute;
    font-size: 170px;
    top: 28%;
    left: 32%;
    visibility: hidden;
}

.button{
    padding: 8px;
    background:	none;
    font-size: 30px;
    font-family: cursive;
    color: black;
    border-color:black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 45%;
    visibility: hidden;
}

.button:hover{
    background:	rgba(226, 238, 63, 0.746);
    color: black;
	border-color:black;    
    transition-duration: 0.8s;
}

#scoreCount{
    color: black;
    background-color: rgba(226, 238, 63, 0.746);
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px;
    border-style: double;
    border-color: black;
    border-radius: 10px;
    padding: 7px;
    position: absolute;
    top: 30px;
    right: 50px;
}

@keyframes marioAni{
    0%{
        bottom: 46px;
    }
    50%{
        bottom: 400px;
    }
    100%{
        bottom: 46px;
    }
}

@keyframes marioDieAni{
    0%{
        bottom: 46px;
    }
    50%{
        bottom: 0px;
    }
    100%{
        bottom: -40vh;
        
    }
}

@keyframes enemyAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -25vw;
    }
}